body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

#worldCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.ui-hidden {
    display: none;
}

#menu-blocker {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: 40;
    pointer-events: none; /* default: off */
}

#menu-blocker.active {
    pointer-events: auto; /* blocks canvas input */
}
